{# templates/account_mgmt.html #}
{% extends "base.html" %}

{% block header %}
  {% include "_navbar.html" %}
{% endblock header %}

{% block content %}
<section class="flex flex-col place-self-center h-full w-full">
  <div class="bg-indigo-900 text-gray-100 es-account-form self-center">
    <h2 class="text-center pb-10">{% block form_name %}{% endblock form_name %}</h2>

    {% if created and not error %}
      <p class="mb-4 text-center text-sm text-teal-400">Registrierung erfolgreich. Du kannst dich jetzt anmelden.</p>
    {% endif %}

    {% if error %}
      <p class="text-red-500 mt-2.5 text-center">Nutzername und/oder Passwort falsch</p>
    {% endif %}

    <form class="flex flex-col gap-2" method="post" target="_self">
      {% block fields %}{% endblock fields %}

      {% if errors %}
        <p class="text-red-500 mt-2.5 text-center">{{ errors }}</p>
      {% endif %}
    
      <input class="mt-5 hover:bg-indigo-950 ring-2 cursor-pointer" type="submit" name="submit" value="Senden">
    </form>
  </div>
</section>
{% endblock content %}
