{# templates/base.html #}
<!DOCTYPE html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<html lang="de" class="h-full">
  <head>
    <meta charset="utf-8" />
    <title>{{ org }} – Engelsystem</title>
    <link rel="stylesheet" href="/static/css/base-new.css" />
  </head>
  <body class="flex flex-col min-h-screen bg-slate-900 text-gray-100 antialiased">
    <header>
      {% block header %}{% endblock header %}
    </header>

    <main class="flex flex-1">
      {% block content %}{% endblock content %}
    </main>

    <footer class="py-6 text-center text-xs text-gray-400">
      © {{ now() | date(format="%Y") }} Engelsystem –
      <a href="https://github.com/Kek5chen/engelsystem-rs" class="hover:underline">Source&nbsp;Code</a>
    </footer>
  </body>
</html>
