{# templates/register.html #}
{% extends "account_mgmt.html" %}

{% block form_name %}Registrieren{% endblock form_name %}

{% block fields %}
<input id="username" type="text" name="username" required minlength="2" placeholder="Nutzername" autocomplete="username"
  class="w-full rounded bg-slate-900/40 p-2.5 focus:outline-none focus:ring-2 focus:ring-teal-400" />

<input id="email" type="email" name="email" required placeholder="E‑Mail" autocomplete="email"
  class="w-full rounded bg-slate-900/40 p-2.5 focus:outline-none focus:ring-2 focus:ring-teal-400" />

<input id="password" type="password" name="password" required minlength="8"
  pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Das Passwort muss mindestens einen Groß- und einen Kleinbuchstaben sowie eine Zahl enthalten und mindestens 8 Zeichen lang sein."
  placeholder="Passwort" autocomplete="new-password"
  class="w-full rounded bg-slate-900/40 p-2.5 focus:outline-none focus:ring-2 focus:ring-teal-400" />

<label class="flex flex-row mt-5 gap-2">
  <input type="checkbox" name="tc_check" required class="accent-teal-600" />
  <span>Ich stimme zu, dass ich eine Katze bin.</span>
</label>
{% endblock fields %}
